In [1]:
import pandas as pd

In [14]:
fname = "abortion.dta"
df = pd.read_stata(fname)

In [15]:
df

,fip,age,race,year,sex,totpop,ir,crack,alcohol,income,...,repeal,acc,wht,male,lnr,t,younger,fa,pi,bf15
0,1,30,2,1985,1,78805,371.475800,0.217438,1.90,11566.0,...,0,0.679504,0,1,7.880880,1,0,NaN,0,0
1,1,15,1,1985,2,224003,51.389252,0.217438,1.90,11566.0,...,0,0.679504,1,0,6.362165,1,1,1.0,0,0
2,1,20,2,1985,2,94113,390.875671,0.217438,1.90,11566.0,...,0,0.679504,0,0,8.917793,1,0,NaN,0,0
3,1,20,1,1985,1,252076,100.836800,0.217438,1.90,11566.0,...,0,0.679504,1,1,5.906995,1,0,NaN,0,0
4,1,20,2,1985,1,94113,390.875671,0.217438,1.90,11566.0,...,0,0.679504,0,1,9.072009,1,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19579,56,15,1,2000,1,36639,195.797516,0.113628,2.46,28460.0,...,0,2.844398,1,1,1.667707,16,1,101.0,1,0
19580,56,25,2,2000,2,313,2666.666748,0.113628,2.46,28460.0,...,0,2.844398,0,0,NaN,16,0,102.0,0,0
19581,56,30,1,2000,1,26371,346.859619,0.113628,2.46,28460.0,...,0,2.844398,1,1,2.701361,16,0,NaN,0,0
19582,56,35,1,2000,1,32562,365.876282,0.113628,2.46,28460.0,...,0,2.844398,1,1,3.214868,16,0,NaN,0,0
19583,56,40,2,2000,2,267,0.000000,0.113628,2.46,28460.0,...,0,2.844398,0,0,NaN,16,0,NaN,0,0

In [7]:
df.columns

Index(['year', 'sid', 'robbery_gun_r', 'jhcitizen_c', 'jhpolice_c', 'homicide',
       'robbery', 'assault', 'burglary', 'larceny',
       ...
       'lead7', 'lead8', 'lead9', 'lag0', 'lag1', 'lag2', 'lag3', 'lag4',
       'lag5', 'popwt'],
      dtype='object', length=139)